.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.val{
  padding: 1rem;
  width: 92%;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.major{
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3),-1px -1px 4px rgba(0, 0, 0, 0.3);
  width: 21.7%;
  margin: 0 auto;
}
.container{
  position: relative;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.text{
  margin: 1rem auto;
}

input[type=checkbox] {
  position: absolute;
  opacity: .1;
  cursor: pointer;
  height: 30px;
  width: 30px;
  outline: 0;
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,1), -1px -1px 5px 2px rgba(0,0,0,1);

}

input[type=checkbox]:checked{
  opacity: .4;
}

.close{
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}

.check:checked ~ label {
  text-decoration: line-through;
  opacity: .6;
}

.footer{
  display: flex;
  justify-content: flex-start;
}

.btn{
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: .3rem;
  margin: .2rem;
}
.one{
  margin-right: 3rem;
  border: none;
}